<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dingzhen.dao.sys.UserDao">
    
    <select id="findZhujiao" parameterType="user" resultType="user">
		select id,name,password,u.roleId,r.roleName,description 
		from user u left join role r on u.roleId = r.roleId where u.id != 1
        <if test="roleId==null || roleId == ''">  
            <![CDATA[  
              AND (u.roleId = '511d52ad07a2447db7ed50f465e4253a' or u.roleId = 'cf102b4bba17469295d456cba408391c')
            ]]>  
        </if>
        <if test="roleId==1">
            and u.roleid = '511d52ad07a2447db7ed50f465e4253a'
        </if>
        <if test="roleId==0">
            and u.roleid = 'cf102b4bba17469295d456cba408391c'
        </if>
		<if test="page != null and rows != null" >           
              limit #{page}, #{rows} 
        </if>
	</select>
    
    
    
     <select id="countZhujiao" parameterType="user" resultType="int">
		select count(*)
		from user u left join role r on u.roleId = r.roleId where u.id != 1
        <if test="roleId==null || roleId == ''">  
            <![CDATA[  
              AND (u.roleId = '511d52ad07a2447db7ed50f465e4253a' or u.roleId = 'cf102b4bba17469295d456cba408391c')
            ]]>  
        </if>
        <if test="roleId==1">
            and u.roleid = '511d52ad07a2447db7ed50f465e4253a'
        </if>
        <if test="roleId==0">
            and u.roleid = 'cf102b4bba17469295d456cba408391c'
        </if>
		<if test="page != null and rows != null" >           
              limit #{page}, #{rows} 
        </if>
	</select>
    
    
    
	
	<select id="findList" parameterType="user" resultType="user">
		select id,name,password,u.roleId,r.roleName,description 
		from user u left join role r on u.roleId = r.roleId where u.id != 1
		<if test="name != null and '' != name">  
            <![CDATA[  
              AND name like '%' #{name} '%'  
            ]]>  
        </if>
        <if test="roleId!=null and roleId != ''">  
            <![CDATA[  
              AND u.roleId = #{roleId}   
            ]]>  
        </if>
		<if test="page != null and rows != null" >           
              limit #{page}, #{rows} 
        </if>
	</select>


	<select id="count" parameterType="user" resultType="int">
		select count(*) from user u left join role r on u.roleId = r.roleId where u.id != 1
		<if test="name != null and '' != name">  
            <![CDATA[  
              AND name like '%' #{name} '%'  
            ]]>  
        </if>
         <if test="roleId!=null and roleId!= '' ">  
            <![CDATA[  
              AND u.roleId = #{roleId}   
            ]]>  
        </if>
	</select>
	
	
	<select id="findOne" parameterType="Integer" resultType="user">
		select id,name,password,roleId,description from user where id = #{id}
	</select>
	
	
	<insert id="add" parameterType="user" >
		insert user(id,name,password,roleId,description) 
		values (#{id},#{name},#{password},#{roleId},#{description})
	</insert>
	
	
	<update id="update" parameterType="user">
    	update user set
    	<trim suffixOverrides=",">
			<if test="name!=null">name=#{name},</if>
			<if test="password!=null">password=#{password},</if>
			<if test="roleId!=null">roleId=#{roleId},</if>
			<if test="description!=null">description=#{description},</if>
		</trim>
		<where>id=#{id}</where>
    </update>
	
	
	<update id="updateZhujiao" parameterType="java.util.Map">
    	update user set roleid = #{roleid} where id = #{id}
    </update>
	
	
	
	<delete id="delete" parameterType="user">
		delete from user where id=#{id}
	</delete>
	
	
	<select id="loginUser" parameterType="Map" resultType="user">
		select id,name,password,roleId,description from user
		where name=#{name} and password=#{password}
	</select>
	
	
	<select id="existUserWithUserName" parameterType="String" resultType="user">
		select id,name,password,roleId,description from user where name=#{name}
	</select>
	
	
	<select id="existUserWithRoleId" parameterType="String" resultType="user">
		select id,name,password,roleId,description from user where roleId=#{roleId} limit 0,1
	</select>
	
	
	<delete id="deleteBatch" parameterType="java.util.List">
		delete from user 
		WHERE id IN(
		<foreach item="o" collection="list" open="" separator="," close="" >
			#{o.id}
		</foreach>
		)
	</delete>
	
	
</mapper>
